<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <form method="POST" action="upload" enctype="multipart/form-data">
        <select name="channel">
            <option value="">Wybierz Opcje</option>
            <option value="USER">User</option>
            <option value="B2B">B2B</option>
            <option value="WRONG">WRONG READER</option>
        </select>
        <br/>
        <input type="file" name="file" /><br/>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>